
.display-info-conatainer {
    body {
        padding: 20px;
    }
    .green {
        color: green;
    }
    .red {
        color: red;
    }
    .logo {
        width: 400px;
        height: 400px;
    }
}